{% extends 'base.html' %}
{% load static %}
{% block title %}Examples{% endblock %}

{% block styles %}
    <link href="{% static 'css/styles/examples.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/table_generate.js' %}" defer></script>
{% endblock %}

{% block content %}
    <section id="generated-table">
        <h2>Generated table</h2>
        <br>
        <table id="table" border="1"></table>
        <br>
        <button id="transpose">Transpose</button>
        <button id="addRow">Add row</button>
        <button id="addColumn">Add column</button>
        <label for="maxSelection">Max selected in the row (also left and right neighbour cells cannot be selected):</label>
        <input type="number" id="maxSelection" value="2">
        <button id="updateMaxSelection">Apply restrictions</button>
        <br>
    </section>

    <section id="oop">
        <h2>OOP</h2>
        <h3>Using prototypes</h3>
        <pre style="height:400px;font-size:14px;overflow:auto;border:3px;padding:2%">
// Базовый класс User
function User(name, age) {
    this.name = name;
    this.age = age;
}

// Геттер и сеттер возраста
User.prototype.getAge = function () {
    return this.age;
};

User.prototype.setAge = function (age) {
    this.age = age;
};

// Геттер и сеттер имени
User.prototype.getJustName = function () {
    return this.name;
};

User.prototype.setName = function (newName) {
    this.name = newName;
};

// Класс наследник Patient
function Patient(name, age, medicalRecord, id, gender) {
    User.call(this, name, age); // конструктор базового класса

    this.medicalRecord = medicalRecord;
    this.id = id;
    this.gender = gender;
}

// Наследование прототипа базового класса
Patient.prototype = Object.create(User.prototype);

// Геттер и сеттер для медицинской книжки
Patient.prototype.getMedicalRecord = function () {
    return this.medicalRecord;
};

Patient.prototype.setMedicalRecord = function (medicalRecord) {
    this.medicalRecord = medicalRecord;
};

// Геттер и сеттер для ID
Patient.prototype.getId = function () {
    return this.id;
};

Patient.prototype.setId = function (id) {
    this.id = id;
};

// Декоратор, который добавляет "Mr." или "Mrs." к имени в зависимости от пола
function genderDecorator(target) {
    const originalGetName = target.getName;

    target.getName = function () {
        let name = originalGetName.call(this);
        if (this.gender === 'male') {
            name = 'Mr. ' + name;
        } else if (this.gender === 'female') {
            name = 'Mrs. ' + name;
        }
        return name;
    };
}

// Метод, который возвращает имя пациента
Patient.prototype.getName = function () {
    return this.name;
};

// Метод, который поздравляет с днем рождения
Patient.prototype.happyBirthday = function () {
    this.age++;
    return `Happy Birthday, ${this.getName()}! Now you are ${this.getAge()} years old.`;
};

// Метод для записи пациента на прием
Patient.prototype.scheduleAppointment = function (date) {
    return `Patient ${this.getName()} has scheduled an appointment for ${date}.`;
};

// Создаем объект пациента
const john = new Patient('John', 30, '12345', 'P123', 'male');

// Применяем декоратор
genderDecorator(john);
        </pre>
        <h3>Test functions</h3>
        <p>There's patient entity john: name - 'John', age - 30, medical record - '12345', ID - 'P123', gender - 'male';</p>
        <button id="getAgeButton">Get age</button>
        <button id="getJustNameButton">Get name</button>
        <button id="getMedicalRecordButton">Get medical record</button>
        <button id="getIdButton">Get ID</button>
        <button id="getNameButton">DECORATOR ON NAME</button>
        <button id="happyBirthdayButton">Wish Happy Birthday</button>
        <button id="scheduleAppointmentButton">Schedule an appointment</button>
        <br><br>
        <div>
            <label for="appointmentDate">Date of appointment:</label>
            <input type="date" id="appointmentDate">
        </div>
        <script src="{% static 'scripts/prototypes.js' %}"></script>

        <h3>Using classes</h3>
        <pre style="height:400px;font-size:14px;overflow:auto;border:3px;padding:2%">
// Базовый класс User
class User {
    constructor(name, age) {
        this.name = name;
        this.age = age;
    }

    getAge() {
        return this.age;
    }

    setAge(age) {
        this.age = age;
    }

    getJustName() {
        return this.name;
    }

    getName() {
        return this.name;
    }

    setName(newName) {
        this.name = newName;
    }
}

// Класс наследник Patient
class Patient extends User {
    constructor(name, age, medicalRecord, id, gender) {
        super(name, age); // Вызываем конструктор базового класса

        this.medicalRecord = medicalRecord;
        this.id = id;
        this.gender = gender;
    }

    getMedicalRecord() {
        return this.medicalRecord;
    }

    setMedicalRecord(medicalRecord) {
        this.medicalRecord = medicalRecord;
    }

    getId() {
        return this.id;
    }

    setId(id) {
        this.id = id;
    }

    // Метод, который поздравляет с днем рождения
    happyBirthday() {
        this.age++;
        return `Happy Birthday, ${this.getName()}! Now you are ${this.getAge()} years old.`;
    }

    // Метод для записи пациента на прием
    scheduleAppointment(date) {
        return `Patient ${this.getName()} has scheduled an appointment for ${date}.`;
    }
}

// Декоратор, который добавляет "Mr." или "Mrs." к имени в зависимости от пола
function genderDecorator(patient) {
    const originalGetName = patient.getName.bind(patient);

    patient.getName = function () {
        let name = originalGetName();
        if (this.gender === 'male') {
            name = 'Mr. ' + name;
        } else if (this.gender === 'female') {
            name = 'Mrs. ' + name;
        }
        return name;
    };

    return patient;
}

// Создаем объект пациента
const dasha = new Patient('Darya', 19, '29724', 'P666', 'female');
genderDecorator(dasha);

        </pre>
        <h3>Test functions</h3>
        <p>There's patient entity dasha: name - 'Darya', age - 19, medical record - '29724', ID - 'P666', gender - 'female';</p>
        <button id="getClassAgeButton">Get age</button>
        <button id="getClassJustNameButton">Get name</button>
        <button id="getClassMedicalRecordButton">Get medical record</button>
        <button id="getClassIdButton">Get ID</button>
        <button id="getClassNameButton">DECORATOR ON NAME</button>
        <button id="happyBirthdayClassButton">Wish Happy Birthday</button>
        <button id="scheduleAppointmentClassButton">Schedule an appointment</button>
        <br><br>
        <div>
            <label for="appointmentDateClass">Date of appointment:</label>
            <input type="date" id="appointmentDateClass">
        </div>
        <script src="{% static 'scripts/classes.js' %}"></script>
    </section>

    <section id="cube-problem" style="max-width: 80%;">
        <h2>Расчет кубиков</h2>
        <p>Дан ассоциативный массив, содержащий сведения о кубиках: размер каждого кубика
(длина ребра в сантиметрах) и его цвет (красный, желтый, синий или зеленый). Найти
количество кубиков каждого из перечисленных цветов и их суммарный объем.</p>
        <form id="cubesForm">
        <label for="color">Цвет кубика:</label>
        <select id="color">
            <option value="red">Красный</option>
            <option value="yellow">Желтый</option>
            <option value="blue">Синий</option>
            <option value="green">Зеленый</option>
        </select>
        <br><br>
        <label for="size">Размер кубика (см):</label>
        <input type="number" id="size">
        <br><br>
        <button type="button" onclick="addCube()">Добавить кубик</button>
        </form>
        <h3>Введенные кубики:</h3>
        <ul id="cubesList"></ul>
        <h3>Результат:</h3>
        <div id="results"></div>
        <script src="{% static 'scripts/cubes.js' %}"></script>
    </section>

    <section id="pseudocl-str">
        <h2>Structure pseudoclasses</h2>
        <p>First child should be blue, the last - red</p>
        <p>Every second child should be underlined</p>
        <ul>
            <li>First child</li>
            <li>Second child</li>
            <li>Third child</li>
            <li>Fourth child</li>
            <li>Fifth child</li>
            <li>Sixth child</li>
        </ul>
    </section>

    <section id="pseudocl-ui">
        <h2>UI pseudoclasses</h2>
        <p><strong>:enabled</strong></p>
        <textarea cols="30" rows="5">Enabled textarea</textarea>

        <p><strong>:required</strong></p>
        <form>
            <label>Name: <span class="req"></span></label>
            <input name="name" type="text" required />
        </form>

        <p><strong>:disabled</strong></p>
        <textarea disabled cols="30" rows="5">Disabled textarea</textarea>

        <p><strong>:out-of-range</strong></p>
        <form>
            <label>Date: (Whole year 2023 is acceptable)</label>
            <input name="dep" type="date" min="2023-01-01" max="2023-12-31" value="2025-05-05" />
        </form>

        <p><strong>:checked</strong></p>
        <form>
            <input type="checkbox"><span>1</span><br>
            <input type="checkbox"><span>2</span><br>
            <input type="checkbox" checked><span>3</span><br>
            <input type="checkbox"><span>4</span><br>
            <input type="checkbox"><span>5</span><br>
        </form>

        <p><strong>:lang</strong></p>
            <p>French: <q lang="fr">Bonjour mon ami</q>.</p>
            <p>German: <q lang="de">Guten tag</q>.</p>
            <p>English: <q lang="en">Hello how are you what a great day isn't it</q>.</p>
    </section>

    <section id="pseudoel">
        <h2>Pseudoelements</h2>
        <p>:before and :after</p>
        <p id="p-pseudoel">original text</p>
    </section>

    <section id="table-css">
        <h2>Table styling</h2>
        <table id="test-table" border="1">
        <caption>Example table</caption>
        <thead>
        <tr>
            <th>Letter</th>
            <th>Number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td>1</td>
        </tr>
        <tr>
            <td>b</td>
            <td>2</td>
        </tr>
        <tr>
            <td>c</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>4</td>
        </tr>
        <tr>
            <td>e</td>
            <td>5</td>
        </tr>
        </tbody>
    </table>
    </section>

    <section id="text-css">
        <h2>Text styling</h2>
        <div id="text-block">
            <p style="text-shadow: 2px 2px 5px red;">This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform,
                and color properties. The paragraph is indented, aligned, and the space between characters is specified.
                The underline is removed from this colored "Try it Yourself" link.
                A text can be left or right aligned, centered, or justified.
                The following example shows center aligned, and left and right aligned text
                (left alignment is default if text direction is left-to-right,
                and right alignment is default if text direction is right-to-left).
            </p>
            <p style="letter-spacing: 5px; word-spacing: 10px;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p style="line-height: 50px;">
                This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform,
                and color properties. The paragraph is indented, aligned, and the space between characters is specified.
                The underline is removed from this colored "Try it Yourself" link.
                A text can be left or right aligned, centered, or justified.
                The following example shows center aligned, and left and right aligned text
                (left alignment is default if text direction is left-to-right,
                and right alignment is default if text direction is right-to-left).
            </p>
            <p style="text-decoration: underline red double 2px;">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <p style="font-variant: small-caps;">
                This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform,
                and color properties. The paragraph is indented, aligned, and the space between characters is specified.
                The underline is removed from this colored "Try it Yourself" link.
                A text can be left or right aligned, centered, or justified.
                The following example shows center aligned, and left and right aligned text
                (left alignment is default if text direction is left-to-right,
                and right alignment is default if text direction is right-to-left).
            </p>
            <p style='font-family: "Comic Sans MS", cursive, sans-serif;'>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
        </div>
    </section>

    <section id="listing">
        <h2>Listing (&lt;pre&gt; + &lt;code&gt;)</h2>
        <pre>
            <code>
            class MainPageTemplateView(TemplateView):
                template_name = "main-page.html"

                def get_context_data(self, **kwargs):
                    context = super().get_context_data(**kwargs)
                    context["last_article"] = Article.objects.order_by("-created_at").first()
                    context["weather"] = get_weather()
                    context["random_joke"] = get_random_joke()
                    return context
            </code>
            </pre>
    </section>

    <section id="abbreviation">
        <h2>Abbreviation (&lt;abbr&gt;)</h2>
        <abbr title="HyperText Markup Language">HTML</abbr>
    </section>

    <section id="definition">
        <h2>Definitions (&lt;dfn&gt;)</h2>
         <p><dfn title="HyperText Markup Language">HTML</dfn> is the standard markup language for creating web pages.</p>
    </section>

    <section id="quote">
        <h2>Quotations (&lt;blockquotes&gt; and &lt;q&gt;)</h2>
          <p>Here is a BLOCKQUOTE from WWF's website:</p>
        <blockquote cite="http://www.worldwildlife.org/who/index.html">
        For 60 years, WWF has worked to help people and nature thrive. As the world's leading conservation organization, WWF works in nearly 100 countries. At every level, we collaborate with people around the world to develop and deliver innovative solutions that protect communities, wildlife, and the places in which they live.
        </blockquote>
         <p>Q QUOTE: WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>
    </section>

    <section id="poem">
        <h2>Poem (&lt;br&gt;)</h2>
        <p>
            Nature's first green is gold,<br>
            Her hardest hue to hold.<br>
            Her early leaf's a flower;<br>
            But only so an hour.<br>
        </p>
    </section>

    <section id="wbr">
        <h2>Possible line break (&lt;wbr&gt;)</h2>
        <p>
  http://this<wbr />.is<wbr />.a<wbr />.really<wbr />.long<wbr />.example<wbr />.com/With<wbr />/deeper<wbr />/level<wbr />/pages<wbr />/deeper<wbr />/level<wbr />/pages<wbr />/deeper<wbr />/level<wbr />/pages<wbr />/deeper<wbr />/level<wbr />/pages<wbr />/deeper<wbr />/level<wbr />/pages
</p>
    </section>

    <section id="audio-ex">
        <h2>Audio</h2>
        <p>&lt;iframe&gt;</p>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/2K7xn816oNHJZ0aVqdQsha?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <p>&lt;audio&gt;</p>
        <figure>
            <figcaption>Listen to the Dollhouse by The Weeknd and Lily-Rose Depp:</figcaption>
            <audio controls src="static/music/@HipHopFree - Dollhouse - The Weeknd, Lily Rose Depp.mp3"></audio>
            <a href="static/music/@HipHopFree - Dollhouse - The Weeknd, Lily Rose Depp.mp3" target="_blank" download> Download audio </a>
        </figure>

    </section>
{% endblock %}