{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'css/styles/main-page.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/birthday-prompt.js' %}" defer></script>
    <script src="{% static 'scripts/banners.js' %}"></script>
{% endblock %}

{% block title %}Main page{% endblock %}

{% block content %}
    <section class="banners">
        <div class="banner-container">
            <a href="https://www.google.com/search?q=%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C+%D1%80%D0%B5%D0%BA%D0%BB%D0%B0%D0%BC%D1%83">
                <img src="{% static 'images/reklama.jpeg' %}" alt="Banner 1"></a>
            <a href="https://bionorica.ru/ru/products/respiratornye-zabolevaniya/sinupret.html">
                <img src="{% static 'images/Sinupret-banner-sm.jpg' %}" alt="Banner 2"></a>
            <a href="https://zdravcity.ru/blog-o-zdorovie/na-vse-sluchai-zhizni-chto-polozhit-v-detskuyu-aptechku/">
                <img src="{% static 'images/add_pharm.jpg' %}" alt="Banner 3"></a>
        </div>
        {% if user.is_staff %}
        <form id="interval-form">
            <label for="interval">Interval (seconds):</label>
            <input type="number" id="interval" value="3">
            <button id="start">Save interval</button>
        </form>
        {% endif %}
    </section>

    <section id="recent-news">
        <h2>Recent news</h2>
        <h3 itemscope itemtype="https://schema.org/Article">
            <a itemprop="name" href="{{ last_article.get_absolute_url }}">{{ last_article.title }}</a> -
            <time itemprop="dateCreated"
                  content="{{ last_article.created_at }}">{{ last_article.created_at|date:'Y-m-d H:i' }}</time>
        </h3>
        <p>{{ last_article.description }}</p>
    </section>

    <section>
        <h3>Welcome to</h3>
        <h2 class="company-name" title="Company name">Darya Dziamidava's Medical Center</h2>
        <figure>
            <img id="center_pic" src="{% static 'images/center_image.jpg' %}" alt="Medical center image">
            <figcaption>
                <em>Improve your health and live a long happy life with our medical center!</em>
            </figcaption>
        </figure>
    </section>

    <section id="partners">
        <h2>Our partners:</h2>
        <ul>
            <li itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="url" content="https://bsuir.by">
                <a href="https://bsuir.by" itemprop="name">BSUIR</a>
                <img itemprop="image" src="https://bsuir.by/favicon.ico" alt="bsuir icon" height="25">
            </li>
            <li itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="url" content="https://invitro.by/">
                <a href="https://invitro.by/" itemprop="name">INVITRO</a>
                <img itemprop="image" src="https://www.invitro.ru/local/templates/invitro_main/src/image/favicon/favicon.ico?abc" alt="invitro icon" height="35">
            </li>
            <li itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="url" content="https://wdl.by/">
                <a href="https://wdl.by/" itemprop="name">WDL Optics</a>
                <img itemprop="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4gyLO6QVDxuKCgedmiu4V48iHQU-NsxOTGBT5seLYsw&s" alt="wdl icon" height="35">
            </li>
        </ul>
    </section>


{% endblock %}