#cert-img > img {
    display:inline-block;
    border: 100px solid transparent;
    border-image-source: url(../images/kitten-grid.jpg);
    border-image-repeat: round;
    border-image-slice: 1160 1160;
}

[alt*="logo"]:hover {
    transform: scale(0.9) rotate(-5deg);
}