article.show p::first-letter {
    font-size: 30px;
    color: red;
}

#article-list {
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-column-gap: 5%;
    margin-bottom: 100px;
}

article img {
    width: 100%;
    object-fit: cover;
}

article.show img {
    width: 50%;
    margin: 0 auto;
    object-fit: cover;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

article.show p{
    column-count: 3;
    column-gap: 5%;
}