body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background-color: #fdfdff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

main#content{
    padding: 10px 50px;
    min-height: fit-content;
}

*::selection {
background: #ffb7b7; /* Safari */
}
*::-moz-selection {
background: #ffb7b7; /* Firefox */
}

a {
    color: #000000;
    text-decoration: none;
}

a:link {
    color: rgba(0,35,255,0.75);
}

a:visited {
    outline-color: none;
    color: grey;
}

nav a:visited {
    color: #000000;
}

a:active {
    color: #0892d0;
    font-size: 20px;
}

a:focus {
    color: #000000;
    font-size: 20px;
}

a:hover {
    font-size: 20px;
    cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat178.cur), auto !important;
}

a:hover img {
    transform: scale(calc(386 / 366));
    cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat178.cur), auto !important;
}

img:hover {
    transform: scale(calc(386 / 366));
    cursor: url(https://cur.cursors-4u.net/nature/nat-2/nat178.cur), auto !important;
}

.submit {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    color: #fdfdff;
}

.registration-link {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #fdfdff;
}

.submit:hover {
    background: #E47209;
}

.submit:active {
    background: #4B9200;
}

.registration-link:hover {
    background: #E47209;
}

.registration-link:active {
    background: #4B9200;
}

.log_link {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    color: #fdfdff;
}

.log_link:hover {
    background: #E47209;
}

.log_link:active {
    background: #4B9200;
}

.button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    color: #fdfdff;
}

.button:hover {
    background: #E47209;
}

.button:active {
    background: #4B9200;
}

#header, #footer {
  background-color: #f2f2f2;
}

#footer {
  padding: 10px 30px;
}

#header .logo {
  color: black;
  font-size: 24px;
  text-decoration: none;
  padding: 10px;
}

#header nav ul, #nav-about {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#header nav .navigation {
    padding-right: 20px;
}

#subheader {
  background-color: #e0e0e0;
  padding: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#subheader .cart {
  font-size: 16px{;
  float: left;
}

#content {
  padding: 20px;
}

.resized-image {
  max-width: 500px;
  max-height: 500px;
}

img {
    width: 400px;
    height: 400px;
}

.auth {
    margin-left: auto;
    margin-right: 15;
}

aside {
    float: right;
    width: 25%;
}

