#pseudocl-str ul li:first-child {
    width: fit-content;
    background: blue;
}

#pseudocl-str ul li:last-child {
    width: fit-content;
    background: red;
}

#pseudocl-str ul li:nth-child(2n) {
    text-decoration: underline;
}

textarea:enabled {
    border: 5px solid orange;
    padding: 5px;
}

#pseudocl-ui :required {
    background: gold;
    border: 5px solid red;
    padding: 5px;
}

textarea:disabled {
       background: #f2f2f2;
       border: 1px solid #666;
       padding: 5px;
}

#pseudocl-ui :out-of-range {
    background-color: orangered;
}

#pseudocl-ui :checked + span {
    background-color: #fc0;
}

#pseudocl-ui q:lang(de) {
    quotes: "\201E" "\201C";
}

#pseudocl-ui q:lang(en) {
    quotes: "\201C" "\201D";
}

#pseudocl-ui q:lang(fr) {
    quotes: "\00AB" "\00BB";
}

#p-pseudoel:before {
    content: "Text before, ";
    background-color: red;
}

#p-pseudoel:after {
    content: "text after.";
    background-color: blue;
}

#test-table, #table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    height: 50px;
    vertical-align: center;
}

#table {
    max-width: 70%;
}

.selected-even {
    background-color: lightblue;
}

.selected-odd {
    background-color: lightgreen;
}

#test-table td:empty {
    background: orange;
}

#test-table caption {
    letter-spacing: 20;
    font-weight: 500;
}

#test-table tr:hover {background-color: coral;}

#test-table th {
  background-color: #00008b ;
  color: white;
}

#audio-ex {
    margin-bottom: 7%;
}

#text-block {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px 15px 30px 80px;
}

#text-css h2 {
    text-transform: uppercase;
}

#text-css p {
    color: white;
    text-align: justify;
    text-indent: 50px;
 /*   word-wrap: break-word;
    word-break: break-all;*/
    hyphens: auto;
}

input[type="checkbox"] {
    width: fit-content;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #audio-ex {
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 600px) {
    #audio-ex {
        margin-bottom: 25%;
    }
}