#feed-list {
    display:grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    grid-row-gap:5%;
    margin-top: 1%;
    margin-bottom: 10%;
}

#feed-list article {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #feed-list  {
        display: flex;
        flex-direction: column;
        & article {
            width: 90%;
            margin-bottom:30px;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #feed-list  {
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 600px) {
    #feed-list  {
        margin-bottom: 30%;
    }

    #feed-list  article {
        width: 110%;
        margin-bottom:30px;
    }
}