#jobs-list {
    display:grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 30px;
    grid-row-gap:30px;
    margin-bottom: 10%;
}

#jobs-list .job-card-wrapper {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#jobs-list .article {
    --posx: 50%;
    --posy: 50%;
    padding: 10px;
    background-image: url(../../images/favicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: var(--posx) var(--posy);
}

@keyframes reset-card{
  to {
    --posx: 50%;
    --posy: 50%;
    background-position: var(--posx) var(--posy);
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 600px) {
    #jobs-list  {
        display: flex;
        flex-direction: column;
        & article {
            width: 90%;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #jobs-list  {
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 600px) {
    #jobs-list  {
        margin-bottom: 30%;
    }

    #jobs-list  li {
        width: 110%;
    }
}