#recent-news {
    position: relative;
    top: 10px;
}

#partners li {
    display: inline-flex;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid green;
    box-shadow: 0 0 7px #666;
    justify-content: center;
    align-items: center;
}

#partners li img {
    width: 26px;
    height: 26px;
}

#partners {
    margin-bottom:10%;
}

#partners a {
    font-kerning: normal;
    letter-spacing: -1;
}

[alt="Medical center image"] {
    position: relative;
    animation: animate 5s linear infinite;
}

@keyframes animate {0% {transform: scale(1)}
25% {transform: scale(1.15)}
50% {transform: scale(1.3)}
75% {transform: scale(1.15)}
100% {transform: scale(1)}}

[title^="Company"] {
    font-family: Lato;
    font-kerning: normal;
    margin-top: -10px;
}

@media only screen and (max-width: 1000px) {
    #partners li {
        display: block;
        border: none;
        box-shadow: none;
        background: none;
        width: 50%;
        height: auto;
    }

    [alt="Medical center image"] {
        animation: none;
        width: 80%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #partners {
        margin-bottom:15%;
    }
}

@media only screen and (max-width: 600px) {
    #partners {
        margin-bottom:-30%;
    }
}